body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

.title {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
}

.readout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    font-size: 50px;
}

.input {
    display: flex;
    flex-direction: row;
}

.numberB {
    height: 150px;
    width: 200px;
    flex-wrap: nowrap;
    margin: 0;
    background-color: lightblue;
    border-radius: 20px;
}

.operatorB4 {
    margin: 0;
    background-color: red;
}

.operators {
    display: grid;
    box-shadow: 0px 0px 20px black;
    margin: 0;
    height: 600px;
    width: 200px;
    background-color: black;
}
.digits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    height: 600px;
    width: 600px;
    background-color: black;
}